/* Notes:
	background #535760
	darker #3c3f46
	lighter #787c7f
	font #dddddd
	blue #5793db
	red #db524b
	orange #e8923b
	green #9db74b*/

	/*fonts*/

	/*styling and color*/

	/*positioning*/


/*google font*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
/*700*/

body{
	background-color: #535760;
	font-family: 'Quicksand', sans-serif;
}


/*== Standard HTML Elements ==*/
header{
	/*fonts*/
	color: #dddddd;
	font-size: 2.2em;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 300;
	
	/*styling and color*/
	background-color: #3c3f46;

	/*positioning*/
	width: 100%;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
h2{
	/*fonts*/
	color: #3c3f46;
	font-size: 1.2em;
	text-align: center;
	font-weight: 500;

	/*styling and color*/
	background-color: #9db74b;
	border-radius: 5px 5px 0px 0px;

	/*positioning*/
	padding-top: 2px;
	padding-bottom: 2px;
}



/*== DIV and Sub-Areas ==*/
#select, #selectedCharacter, #opponentCharacters, #defender {
	/*fonts*/

	/*styling and color*/
	background-color: #787c7f;
	border-radius: 5px;

	/*positioning*/
	max-width: 900px;
	width: 90%;
	height: 200px;
	margin: auto;
	margin-bottom: 25px;
	position: relative;
	/*clear: both;*/
}
#battleArea{
	width: 1000px;
	margin: auto;
	padding-top: 20px;
}
#selectedCharacter{
	width: 250px;
	float: left;
	margin-left: 25px;
	margin-left: 10%;
}
#selectedCharacter h2{
	background-color: #5793db; /*use blue top bar for player's character section*/
}
#battleArea button {
	/*fonts*/
	font-size: 1.3em;
	color: #212326;
	letter-spacing: 1px;

	/*styling and color*/
	background: linear-gradient(to bottom, rgba(173,177,179,1) 0%, rgba(97,100,102,1) 100%);
	border: 1px solid #3c3f46;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	outline: none; /*don't show blue focus around button*/

	/*positioning*/
	margin-left: 10%;
	margin-top: 65px;
}
#battleArea button:hover{
	background: linear-gradient(to bottom, rgba(210,212,213,1) 0%, rgba(116,121,123,1) 100%);
}
#battleArea button:active{
	background: linear-gradient(to bottom, #7c8183 0%, #45484a 100%);
}
#defender{
	width: 250px;
	float: right;
	margin-right: 10%;
}
#defender h2{
	background-color: #db524b; /*use red top bar for selected opponent section*/
}
.characterCard{
	/*fonts*/
	font-size: .9em;
	text-align: center;

	/*positioning*/
	display: inline-block;
	margin-top: 7px;
	margin-left: 78px;
}
.characterCard .name{
	margin-bottom: 2px;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	background-color: #93989b;
}


